<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newbie Tech Blog!</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body id="background">

    <div class="flex-column justify-space-around">

        <header id="header" class="display-flex justify-space-between align-center p-2">

            <h1>
                <a href="/">Newbie Tech Blog!</a>
            </h1>

            <nav>
                <!-- Conditionally render login or logout links -->
                {{!-- {{#if logged_in}} --}}

                <a href="/homepage">homepage</a> |
                <a href="/">dashboard</a> |                
                <button id="logout">logout</button> 

                {{!-- {{/if}} --}}
            </nav>

        </header>

        <main class="container mt-5">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>

    </div>

    <footer id="footer">
        <p class="strong">Mariel's Tech Blog</p>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}


</body>

</html>