<div class="row">
<div class="col-md-3">
    <h2>Add New Post</h2>
    <form class="form" id="login">
        <div class="form-group">
            <label for="post-title">title:</label>
            <input class="form-input" type="text" id="new-post-title"/>
        </div>
        <div class="form-group">
            <label for="post-body">post:</label>
            <input class="form-input" type="text" id="new-post-body"/>
        </div>
        <div class="form-group">
            <button class="btn btn primary" type="submit">add</button>
        </div>
    </form>
</div>
</div>

<script src="./js/dashboard.js"></script>